@import "tailwindcss";

@theme {
  --color-bg: #F5F5F5;
  --color-forest: #406550;
  --color-sage: #799A85;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}